@import "./fonts.css";
a {
  text-decoration: none;
  color: #000000;
}
.container {
  background: #161a23;
  max-width: 1092px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 504px;
  background: #ffffff;
  border-radius: 30px;
  padding: 30px;
}
.header-card {
  font-family: "Museo Cyrl";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
}
.text-info,
.link_blue {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #525252;
  overflow: hidden;
}
.btn-card {
  text-align: center;
  background: #f4a133;
  border-radius: 25px;
  padding: 10px 0;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.link_orange,
.orange {
  color: #f2994a;
}
.link_orange {
  margin-top: 20px;
  font-family: "Museo Cyrl";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.blue,
.link_blue {
  color: #2389d8;
}
.donner-certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donner__header {
  margin-top: 55px;
  font-family: "Museo Cyrl";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #e2e8ec;
}
.donner__text {
  margin-top: 30px;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #e2e8ec;
}
.donner__img {
  margin-top: 80px;
  width: 50%;
}
.donner__link-group {
  margin-top: 80px;
}
.donner__btn {
  padding: 16px 25px;
  background: #f4a133;
  font-weight: 500;
  border-radius: 5px;
}
.donner__or {
  margin: 0 30px;
}
.donner__another-link {
  font-weight: 500;
  color: #0000ff;
}
.list-certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list__header {
  margin: 9px 0 23px 0;
}
.btn_blue {
  padding: 10px 40px;
  background: #262f44;
  color: #2389d8;
  position: relative;
}
.hand-right {
  content: "";
  background-image: url(../img/hand-right.png);
  width: 25px;
  height: 25px;
  position: absolute;
  background-size: cover;
  left: 10px;
  top: 9px;
}
.items__text {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #e2e8ec;
}
.group-certificates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 60px;
}
.card-items {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.box-card {
  position: relative;
  width: 218px;
  height: 280px;
}
.img-box {
  position: absolute;
  box-shadow: 0px 6px 44px rgba(1, 164, 255, 0.25);
  z-index: 0;
}
.price-text {
  font-family: "Museo Cyrl";
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 45px;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 16px;
}
.bottom-text {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 16px;
}
.text-your-option {
  font-size: 21px;
}
.input_price {
  position: absolute;
  z-index: 1;
  top: 143px;
  left: 16px;
  background: #e2e8ec;
  background-image: url(../img/₽.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
  border-radius: 5px;
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.15);
  border: 0px;
  outline: none;
  padding: 14px 0 9px 8px;
  overflow: hidden;
}
.box-card > input[type="text"] {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  max-width: 160px;
}
.input_price:after {
  content: url();
  position: absolute;
  z-index: 2;
}
.items__text {
  text-align: center;
}
.text-info {
  color: #ffffff;
}
.buy-card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #262f44;
  border-radius: 20px;
  padding: 20px 20px;
  max-width: 700px;
}
.card-in-buy-box {
  margin-right: 50px;
}
.purchase-field {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.text-buy-card {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f4a133;
  margin-top: 30px;
}
.text-buy-card:first-child {
  margin-top: 0px;
}
.input-text-buy {
  padding: 17px 13px;
  outline: none;
  border: none;
  background: #ffffff;
  border-radius: 6px;
  color: #849fb4;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.label-agreement {
  margin-top: 22px;
  display: flex;
  align-items: baseline;
}
.checkbox-agreement {
  display: none;
}
.square {
  display: inline-block;
  min-width: 8px;
  min-height: 8px;
  position: relative;
  border: 4px solid #ffff;
  border-radius: 5px;
  margin-right: 4px;
}
.square::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ff6d03;
  opacity: 0;
}
.checkbox-agreement:checked + .square::before {
  opacity: 1;
}
.text-agreement {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #e2e8ec;
}
.successufally {
  display: inline-block;
  width: 38px;
  height: 38px;
  position: absolute;
}
.successufally-ico {
  object-fit: cover;
  width: 100%;
}
.text-support,
.text-successufally {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #e2e8ec;
  margin-left: 60px;
}
.surprize-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-surprize {
  font-family: "Museo Cyrl";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #e2e8ec;
  margin: 0;
}
.surprize-box {
  margin-top: 30px;
}
.surprize-btn {
  margin-top: 30px;
  padding: 15px 30px;
}
.about {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-box {
  display: flex;
  flex-direction: column;
  max-width: 560px;
}
.about__top,
.about__bottom {
  padding: 20px;
}
.about__bottom {
  padding-bottom: 45px;
}
.about__top {
  display: flex;
  justify-content: space-between;
  background: #262f44;
  box-shadow: 0px 4px 30px rgba(22, 26, 34, 0.4);
  border-radius: 30px 30px 0px 0px;
  flex-wrap: wrap;
}
.about__bottom {
  background: #ffffff;
  border-radius: 0px 0px 30px 30px;
}
.links-to-app {
  display: flex;
  justify-content: space-around;
  width: 310px;
  margin-top: 20px;
}
.link-appstore,
.link-playmarket {
  width: 47%;
}
.ico-app {
  object-fit: cover;
  width: 100%;
}
.about__header {
  margin-top: 0;
  font-family: "Museo Cyrl";
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  color: #f07f1c;
}
.about__card {
  width: auto;
}
.about__text,
.buy-online,
.buy-cashbox {
  width: 50%;
}
.about__bottom {
  display: flex;
  justify-content: space-around;
}
.buy-online,
.buy-cashbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buy-cashbox {
  border-left: 4px solid #e2e8ec;
  padding-left: 12px;
}
.bottom-header {
  margin-top: 0;
  font-family: "Museo Cyrl";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #161a22;
}
.about__inpute-buy-info {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #161a22;
  border: none;
}
.about__another-text {
  font-family: "Museo Cyrl";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #849fb4;
  margin-bottom: 0;
}
.how-use {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}
@media screen and (max-width: 950px) {
  .card-items {
    margin-right: 10px;
  }
  .card-items:last-child {
    margin-right: 0px;
  }
  .donner__header {
    font-size: 30px;
  }
  .donner__text {
    font-size: 14px;
  }
  .donner__img {
    margin-top: 30px;
  }
}
@media screen and (max-width: 755px) {
  .donner__header {
    font-size: 25px;
  }
  .donner__text {
    font-size: 12px;
  }
  .btn_blue {
    font-size: 14px;
  }
}
@media screen and (max-width: 660px) {
  .card-in-buy-box {
    margin-right: 0px;
  }
  .purchase-field {
    margin-top: 10px;
    width: 100%;
  }
}
@media screen and (max-width: 630px) {
  .text-successufally,
  .text-support {
    font-size: 14px;
  }
  .donner__header {
    font-size: 20px;
  }
  .donner__img {
    margin-top: 23px;
  }
  .donner__text {
    margin-top: 0px;
  }
  .donner__link-group {
    margin-top: 45px;
  }
  .by-card-header,
  .list__header {
    font-size: 25px !important;
    margin: 0;
  }
  .group-certificates {
    margin-top: 20px;
  }
  .about__top {
    justify-content: center;
  }
  .about__card {
    width: 219px;
  }
  .about__text {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 510px) {
  .successufally {
    width: 20px;
    height: 20px;
  }
  .text-successufally,
  .text-support {
    font-size: 12px;
    margin-left: 30px;
  }
  .text-surprize {
    font-size: 28px;
  }
  .by-card-header,
  .text-info {
    text-align: center;
  }
  .donner__header {
    font-size: 16px;
  }
  .donner__text {
    font-size: 12px;
  }
  .donner__btn {
    padding: 10px 16px;
  }
  .donner__or {
    margin: 0 15px;
  }
}
@media screen and (max-width: 412px) {
  .donner__header {
    font-size: 14px;
  }
  .donner__link-group {
    margin-top: 25px;
  }
  .about__header {
    margin: 0;
    font-size: 25px;
  }
  .about__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 370px) {
  .succes-header {
    font-size: 12px !important;
  }
  .donner__header {
    font-size: 12px;
  }
  .donner__text {
    font-size: 10px;
  }
  .donner__img {
    margin-top: 20px;
  }
  .donner__btn {
    padding: 6px 9px;
  }
  .donner__or {
    margin: 5px 0;
  }
  .donner__link-group {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 340px) {
  .header-card {
    font-size: 23px;
  }
  .text-card {
    font-size: 16px;
  }
  .about__another-text,
  .bottom-header {
    margin: 0;
  }
  .about__header {
    font-size: 22px;
  }
  .about__another-text {
    font-size: 11px;
  }
  .about__inpute-buy-info {
    font-size: 15px;
  }
  .how-use {
    font-size: 12px;
  }
  .buy-cashbox {
    padding-left: 12px;
    margin-left: 8px;
  }
  .buy-cashbox__box-img {
    width: 50%;
  }
  .buy-cashbox__img-item {
    width: 100%;
  }
  .links-to-app {
    width: 280px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 320px) {
  .text-surprize {
    font-size: 20px;
  }
  .donner__header {
    font-size: 10px;
  }
  .donner__text {
    font-size: 8px;
  }
  .text-card,
  .link_blue {
    font-size: 14px;
  }
  .link_orange {
    margin-top: 10px;
    font-size: 19px;
  }
}
